MARIADB_ALLOW_EMPTY_ROOT_PASSWORD=1
MARIADB_USER=
MARIADB_PASSWORD=
MARIADB_DATABASE=

MOODLE_DATA_PATH=/mnt/sda1

LOCALES=en_US.UTF-8 fr_FR.UTF-8

TRAEFIK_ACME_EMAIL=
APP_NAME=moodle
DOMAIN_NAME=
ANUBIS_DOMAIN_NAME=

SMTP_HOST=
SMTP_USER=
SMTP_PASS=
SMTP_SECURE=tls
SMTP_AUTHTYPE=LOGIN
SMTP_PORT=587
