services:
  moodle:
    build: ./moodle
    user: "${ENV_UID}:${ENV_GID}"
    container_name: moodle
    working_dir: /var/www/html
    env_file: .env
    depends_on:
      - db
      - redis
    volumes:
      - ./moodle/config.php:/var/www/html/config.php
      - moodle_data:/var/moodledata
      - ./moodle/src:/var/www/html
    expose:
      - "9000"
    healthcheck:
      test: ["CMD", "php-fpm", "-t"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 30s

  moodle-web:
    image: nginx:alpine
    container_name: moodle-web
    env_file: .env
    volumes:
      - ./nginx/moodle-local.conf:/etc/nginx/conf.d/default.conf:ro
      - ./moodle/src:/var/www/html
      - ./certs:/etc/nginx/certs:ro
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - moodle
      - mkcert

  db:
    image: mariadb
    container_name: db
    expose:
      - "3306"
    restart: unless-stopped
    volumes:
      - db_data:/var/lib/mysql
      - ./db/my.cnf:/etc/mysql/my.cnf
    command:
      - "--character-set-server=utf8mb4"
      - "--collation-server=utf8mb4_unicode_ci"
      - "--innodb-read-only-compressed=OFF"
    env_file: .env
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=0
      - TZ=Europe/Paris

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: moodle-phpmyadmin
    restart: unless-stopped
    depends_on:
      - db
    ports:
      - "8081:80"
    environment:
      - PMA_HOST=db
      - PMA_PORT=3306
      - PMA_USER=${MYSQL_USER}
      - PMA_PASSWORD=${MYSQL_PASSWORD}
      - UPLOAD_LIMIT=64M

  redis:
    image: redis
    container_name: redis
    restart: always
    expose:
      - "6379"
    volumes:
      - redis_data:/data

  mkcert:
    image: alpine/mkcert:latest
    volumes:
      - ./certs:/certs
      - ~/.local/share/mkcert:/root/.local/share/mkcert
    command:
      - "-cert-file"
      - "/certs/${DOMAIN_NAME}.pem"
      - "-key-file"
      - "/certs/${DOMAIN_NAME}-key.pem"
      - "${DOMAIN_NAME}"
      - "127.0.0.1"
      - "::1"

volumes:
  moodle_data:
    driver: local
  db_data:
    driver: local
  redis_data:
    driver: local
