# The MariaDB configuration file
#
# The MariaDB/MySQL tools read configuration files in the following order:
# 0. "/etc/mysql/my.cnf" symlinks to this file, reason why all the rest is read.
# 1. "/etc/mysql/mariadb.cnf" (this file) to set global defaults,
# 2. "/etc/mysql/conf.d/*.cnf" to set global options.
# 3. "/etc/mysql/mariadb.conf.d/*.cnf" to set MariaDB-only options.
# 4. "~/.my.cnf" to set user-specific options.
#
# If the same option is defined multiple times, the last one will apply.
#
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.
#
# If you are new to MariaDB, check out https://mariadb.com/kb/en/basic-mariadb-articles/

#
# This group is read both by the client and the server
# use it for options that affect everything
#
[client-server]
# Port or socket location where to connect
# port = 3306
socket = /run/mysqld/mysqld.sock

# Import all .cnf files from configuration directory
[mariadbd]
skip-host-cache
skip-name-resolve

!includedir /etc/mysql/mariadb.conf.d/
!includedir /etc/mysql/conf.d/

[client]
default-character-set = utf8mb4

[mysqld]
# --- Replication / binlog ---
binlog_format = ROW
# --- InnoDB storage ---
innodb_file_per_table = 1
# --- Packet size ---
max_allowed_packet = 512M
# --- Memory ---
innodb_buffer_pool_size = 3G
innodb_buffer_pool_instances = 2
innodb_log_file_size = 256M
innodb_log_buffer_size = 32M
# --- I/O / concurrency (adapted for 4 vCPUs) ---
innodb_flush_method = O_DIRECT
innodb_flush_log_at_trx_commit = 2
innodb_io_capacity = 400
innodb_io_capacity_max = 800
innodb_read_io_threads = 4
innodb_write_io_threads = 4
# --- Connections ---
max_connections = 150
thread_cache_size = 16
# --- Temp tables ---
tmp_table_size = 64M
max_heap_table_size = 64M
# --- Visibility, turn on temporarily while diagnosing ---
slow_query_log = 1
slow_query_log_file = /var/lib/mysql/slow.log
long_query_time = 1
log_queries_not_using_indexes = 0

[mysql]
default-character-set = utf8mb4
